* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  min-height: 100%; }

body {
  font-size: 80%;
  font-weight: normal;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif; }

.filter .webGL {
  display: none; }

.filter.mask .webGL .mask {
  display: block; }

.filter.thumb .webGL .thumb {
  display: block; }

.filter.blender .webGL .blender {
  display: block; }

.filter.threejs .webGL .threejs {
  display: block; }

.filter.skeletal .webGL .skeletal {
  display: block; }

.filter.threeD .webGL .threeD {
  display: block; }

.filter.material .webGL .material {
  display: block; }

.filter.particles .webGL .particles {
  display: block; }

.filter.follow_camera .webGL .follow_camera {
  display: block; }

.filter.line .webGL .line {
  display: block; }

.filter.extrude_geometry .webGL .extrude_geometry {
  display: block; }

.filter.live_input .webGL .live_input {
  display: block; }

.filter.video .webGL .video {
  display: block; }

.filter.morph .webGL .morph {
  display: block; }

.filter.particle .webGL .particle {
  display: block; }

.filter.pointCloud .webGL .pointCloud {
  display: block; }

.filter.collision_detection .webGL .collision_detection {
  display: block; }

.filter.merged_geometry .webGL .merged_geometry {
  display: block; }

.filter.click_event .webGL .click_event {
  display: block; }

.filter.timing .webGL .timing {
  display: block; }

.filter.explosion .webGL .explosion {
  display: block; }

.filter.text_in_space .webGL .text_in_space {
  display: block; }

.filter.gravity .webGL .gravity {
  display: block; }

.filter.terrain .webGL .terrain {
  display: block; }

.filter.audioBuffer .webGL .audioBuffer {
  display: block; }

.filter.audio .webGL .audio {
  display: block; }

.filter.canvas .webGL .canvas {
  display: block; }

.filter.oscillator .webGL .oscillator {
  display: block; }

.filter.twoD .webGL .twoD {
  display: block; }

.filter.playground .webGL .playground {
  display: block; }

.filter.tweenjs .webGL .tweenjs {
  display: block; }

.filter.game .webGL .game {
  display: block; }

.filter.all .webGL {
  display: block; }

h1, h2, h3, h4, h5, h6, a, p {
  color: #000; }

.webGL a {
  text-decoration: none; }

.webGL p {
  font-size: 1em;
  color: #666; }

h1 {
  margin: .5em;
  margin-left: 0;
  font-size: 1.8em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #FF9B19; }

h2 {
  color: #555B5D;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.1em; }

.info a {
  font-weight: bold;
  text-decoration: none; }

iframe#view_experiment {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  outline: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s; }

section#preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: #fff;
  left: -100%;
  opacity: 0; }

section#preview.open_iframe {
  display: block;
  opacity: 1;
  left: 0; }

nav {
  background-color: #000;
  z-index: 99999;
  position: absolute; }
  nav a {
    padding: 1em;
    cursor: pointer;
    color: #eee;
    display: inline-block; }

.info {
  padding: 2em;
  background-color: #555B5D; }
  .info p, .info a {
    color: #FFF7D7; }
  .info p {
    font-size: 1.4em;
    line-height: 1.4em; }

#share {
  position: absolute;
  top: 5px;
  right: 5px; }

.info-inner {
  max-width: 800px;
  margin: auto; }

section.experiments-tags {
  position: relative;
  background-color: #3D4142;
  cursor: pointer;
  min-height: 140px; }

article.tags {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 2em 0; }

.experiments-tags .tags:after {
  content: '#';
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  background-color: #3d4142;
  color: #FF9B19;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  top: -50px;
  right: 0; }

.tags.tags-complete button {
  opacity: 1; }

.tags span, .tags button {
  padding: .5em 1em;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  background-color: #313435;
  color: #aaa;
  border: none;
  opacity: 0; }
  .tags span:before, .tags button:before {
    content: '#'; }
  .tags span:hover, .tags button:hover {
    background-color: #F1CF8B;
    color: #222; }
  .tags span:active, .tags button:active {
    background-color: #71ABD8; }
  .tags span.active, .tags button.active {
    background-color: #4D79B5;
    color: #eee; }

.touchevents button {
  padding: .75em; }

.own_tags span {
  padding: 5px;
  display: inline-block;
  background-color: #eee;
  margin: 20px 1px; }

article {
  margin-bottom: 2em; }

article:after {
  content: '';
  display: block;
  clear: both; }

.webGL {
  width: 100%;
  display: block;
  float: left;
  padding: 2em 0;
  position: relative;
  border-bottom: 1px solid #ccc; }
  .webGL:hover img {
    -webkit-filter: grayscale(0) invert(0);
            filter: grayscale(0) invert(0); }

.webGL img {
  max-width: 300px;
  width: 40%;
  height: auto;
  display: block;
  float: left;
  margin-right: 1em; }

.experiments {
  max-width: 800px;
  margin: auto;
  position: relative;
  top: 0;
  padding: 2em;
  z-index: 999999; }

.experiments-inner {
  top: 0; }

footer {
  padding: 1em;
  text-align: center; }

@media screen and (max-width: 700px) {
  #share {
    top: 1em;
    right: 1em; }

  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%; }

  .info {
    padding: 2em;
    min-height: 90%; }

  .info-inner {
    padding-top: 4em;
    padding-bottom: 4em; }

  .info p {
    font-size: 1.45em;
    line-height: 1.6em; }

  .experiments {
    padding: 1em; }

  section.experiments-tags {
    min-height: initial; }

  .webGL {
    display: block;
    float: left;
    padding: 0;
    padding-bottom: 1em;
    position: relative;
    border-bottom: 1px solid #eee;
    margin: 1em 0 0; }

  .own_tags {
    display: none; } }

/*# sourceMappingURL=style.css.map */