
*{
	box-sizing:border-box;
}

html,body{
	width:100%;
	height:100%;
}

body{
	margin:0;
	overflow:hidden;
}


$team1: lightgreen;
$team2: tomato;

body[data-team="team1"] .gameCoordinate[data-mark-as-potential="true"] {
    border: 5px solid $team1;
    background: transparent;
    box-shadow: inset 0 0 0.3em 0.15em $team1;

     &:hover{
      background:#fff;
    }
}


body[data-team="team2"] .gameCoordinate[data-mark-as-potential="true"] {
    border: 5px solid $team2;
    background: transparent;
    box-shadow: inset 0 0 0.3em 0.15em $team2;

     &:hover{
      background:#fff;
    }
}

.gameCoordinate{
  top: 0;
  left: 0;
  z-index: 1;
  transform-origin: 0 0;
  display: inline-block;
  position: absolute;
  color:transparent;
  width: 36px;
  height: 36px;
  display: none;

  &[data-mark-as-potential="true"] {
  display: block;
    transition-duration: .25s;
    border-radius: 50%;
    padding: 0.3em;
  }
}






.noGamePosition{
  color:#eee;
}

button#reset {
  position: absolute;
  margin: 10px auto;
  left: 0;
  right: 0;
  display: block;
  width: 110px;
}