/* Responsive Mixin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #222;
  overflow-x: hidden;
  font-family: 'Special Elite', cursive;
  perspective: 2048px; }

.play-button {
  top: 0;
  left: 5em;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 0;
  height: 0;
  z-index: 999;
  cursor: pointer;
  transition-duration: .5s;
  border-left: 5em solid #fff;
  border-top: 2.5em solid transparent;
  border-right: 5em solid transparent;
  border-bottom: 2.5em solid transparent;
  display: none; }
  .play-button.on {
    transform: translateX(-2.5em);
    transition-duration: .5s;
    border-left: 2.5em solid transparent;
    border-top: 2.5em solid transparent;
    border-right: 2.5em solid transparent;
    border-bottom: 2.5em solid transparent;
    opacity: 0; }
    .play-button.on:hover {
      opacity: 1; }
    .play-button.on:before {
      content: '';
      display: block;
      width: 30px;
      height: 80px;
      background: transparent;
      position: absolute;
      transition-duration: .5s;
      transform: translateY(-50%) translateX(30%);
      z-index: 99999999999;
      left: 0; }
    .play-button.on:after {
      content: '';
      display: block;
      width: 30px;
      background: transparent;
      height: 80px;
      position: absolute;
      transition-duration: .5s;
      transform: translateY(-50%) translateX(-130%);
      z-index: 99999999999;
      left: 0; }
    .play-button.on:hover:before, .play-button.on:hover:after {
      background: #fff; }
  .play-button.off {
    width: 0;
    height: 0;
    border-left: 5em solid #fff;
    border-top: 2.5em solid transparent;
    border-right: 5em solid transparent;
    border-bottom: 2.5em solid transparent; }

.canvas {
  position: absolute;
  background-color: #fbcd42;
  top: 0;
  width: 100%;
  height: 100%; }

#article-title {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 50px;
  left: 50px;
  font-size: 2em; }

.main {
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .main:after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/61062/paprcraft-logo-white.png);
    background-size: 100% auto;
    vertical-align: middle; }

.audio_info {
  position: absolute;
  bottom: 1em;
  right: 1em;
  padding: .45em;
  background: #222;
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
  color: #ccc; }
  .audio_info a {
    color: #ffcb3a;
    text-decoration: none; }
    .audio_info a:hover {
      color: #c98c2f; }
  @media (max-width: 600px) {
    .audio_info {
      display: none; } }
