%audio#player{:src=>"https://s3-us-west-2.amazonaws.com/s.cdpn.io/61062/170417__eelke__bang-03-clean.mp3"}

.audio-navi
  .play

.info
  %h1 store audio data as json 
  %p look in your chrome console and click play