* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 80%;
  font-weight: lighter;
  background: -webkit-radial-gradient(#5ed0f6 0%, #4285f4 100%);
  background: radial-gradient(#5ed0f6 0%, #4285f4 100%);
}

body {
  background: -webkit-radial-gradient(#5ed0f6 0%, #4285f4 100%);
  background: radial-gradient(#5ed0f6 0%, #4285f4 100%);
  overflow: hidden;
}

canvas {
  -webkit-filter: drop-shadow(0 0 3em black);
          filter: drop-shadow(0 0 3em black);
}

img {
  position: absolute;
  display: none;
}

.mode {
  height: 110px;
  position: relative;
}

.attraction {
  height: 220px;
  position: relative;
}

div#info {
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  z-index: 999;
  top: 0;
  color: #fff;
}
div#info:after {
  content: '';
  display: block;
  clear: both;
}

div.action {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 25px 0 0 25px;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  opacity: .75;
}
div.action span {
  position: absolute;
  width: 150px;
  height: 2em;
  left: 50px;
  top: 0;
}
div.action:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/61062/iconset.png);
  background-size: 100%;
}
div.action:hover {
  width: 200px;
  opacity: 1;
}

.action:nth-child(1) {
  top: 5px;
}

.action:nth-child(2) {
  top: 60px;
}

.action:nth-child(3) {
  top: 115px;
}

.action:nth-child(4) {
  top: 170px;
}

.action:nth-child(5) {
  top: 225px;
}

.action:nth-child(6) {
  top: 280px;
}

.attraction .action:nth-child(1) {
  background-color: #4285F4;
}

.attraction .action:nth-child(2) {
  background-color: #EA4335;
}

.attraction .action:nth-child(3) {
  background-color: #34A853;
}

.attraction .action:nth-child(4) {
  background-color: #FBBC05;
}

#vr_mode:before {
  background-position: 0 300px;
}

#desktop_mode:before {
  background-position: 0 250px;
}

#rollercoaster:before {
  background-position: 0 200px;
}

#ferris_wheel:before {
  background-position: 0 150px;
}

#monster:before {
  background-position: 0 100px;
}

#explore:before {
  background-position: 0 50px;
}

.mode .action {
  border-radius: 0;
}
.mode #desktop_mode {
  line-height: 50px;
}

.attraction {
  bottom: 50px;
  position: absolute;
  right: 0;
}
.attraction span {
  text-transform: uppercase;
  line-height: 50px;
  padding-left: 5px;
}
