* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  background-color: #222;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 80%;
  font-weight: lighter;
  cursor: move;
}

body {
  background: -webkit-radial-gradient(#333333 40%, #000000 100%);
  background: radial-gradient(#333333 40%, #000000 100%);
  overflow: hidden;
}
